@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}

body {
    margin: auto;

}

.nav {
    display: flex;
    /* max-width: 1920px; */
    width: 100%;
    /* border: 2px red solid; */
    padding: 8px 0px;
    justify-content: space-around;
    align-items: center;
    /* gap: 10%; */
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(2px);
    position: fixed;
    z-index: 1;
}

.manubar {
    display: flex;
    /* width: 773px; */
    width: 70%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.manulinks {
    display: flex;
    width: 482px;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}

.manulinks>a {
    color: #1F1534;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    text-decoration: none;
    color: black;
}

.contactbtn>button {
    display: flex;
    width: 145.27px;
    height: 45.19px;
    padding: 12px 27.27px 10.19px 28px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 800px;
    background: #0DC9C8;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.022px;
}

.logo>img {
    width: 70.43px;
    height: 57.65px;
}

.sitename {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.495px;
}

.sitename>h2 {
    color: #373737;
    font-family: Montserrat;
    font-size: 12.585px;
    font-weight: 900;
    line-height: normal;
}

.sitename>p {
    color: #373737;
    font-family: Open Sans;
    font-size: 8.969px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.onboardingScreen {
    width: 100%;
    height: 876px;
    /* border: solid 2px green; */
    flex-shrink: 0;
    background-image: url("./assets/meditation--onboarding-screen.svg");
}


.mainboard {
    border: solid yellow 2px;
    height: fit-content;
    position: relative;
    border: solid rgb(255, 208, 0) 2px;
}

.mainboard>img {
    width: 100%;
    border: solid rgb(0, 140, 255) 2px;
}

.mainboard>div:nth-child(2) {
    position: absolute;
    top: 30%;
    right: 100px;
    width: 35%;
    /* background: #216d12;
    height: 100px; */
}

.onboardrow {
    width: 773px;
    margin: auto;
    padding-top: 307px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.onboardrow>div {
    width: 547px;
    height: 372px;
    flex-shrink: 0;
}

.onboardhead>h2 {
    color: #000924;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 900;
    /* line-height: 40px; */
    text-transform: capitalize;
}

.onboardhead>h2>span {
    color: #555DDB;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    /* line-height: 59.72px; */
    text-transform: capitalize;
}

.onboardhead>p {
    margin-top: 10px;
    color: #616368;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 28.8px; */
}

.trynowbtn {
    margin-top: 10px;
    display: flex;
    gap: 140px;
}

.trynow {
    width: 145.27px;
    height: 45.19px;
    padding: 12px 27.27px 10.19px 28px;
    border-radius: 800px;
    background: #0DC9C8;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    text-transform: capitalize;
}

.trynowbtn>div:nth-child(2) {
    display: flex;
    height: 52px;
    gap: 15px;
    align-items: center;
}

.spanbtn {
    display: flex;
    padding: 17.88px 18.5px 17.87px 18.5px;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    border: 1px solid #0DC9C8;
    background: #0DC9C8;
    box-shadow: 0px 15px 30px 0px rgba(5, 137, 218, 0.30);
}

.spanbtn>img {
    width: 15px;
    height: 16.25px;
}

.spanbtn+p {
    color: #242F51;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
}

.companies {
    width: 100%;
    margin: auto;
}

.companies>p {
    color: #616368;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.companylogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.appfeatures {
    padding: 5%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid purple; */
}

.appfeatures>* {
    /* border: 2px solid rgb(4, 3, 32); */
    padding: 5%;
}

.appfeatureimg {
    width: 40%;
    /* border: 3px solid rgb(9, 30, 100); */
    padding: auto 0;
}

.appfeatureimg>img {
    /* border: 3px solid rgb(24, 214, 24); */
    width: 100%;
    display: inline-block;
    /* margin:auto 0; */
}

.features {
    width: 430px;
}

.features>h2 {
    color: #2d2d2d;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 700;
    line-height: 59.72px;
    text-transform: capitalize;
    line-height: 1.3;
}

.features>p {
    margin-top: 20px;
    color: #616368;
    font-family: Poppins;
    font-size: 15.2px;
    font-style: normal;
    font-weight: 400;
}

.prototyping {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

.prototyping>div:nth-child(1) {
    padding: 10px;
    border-radius: 100%;
    background-color: #ffdffa;
}

.prototyping>div:nth-child(1)>img {
    width: 50px;
    height: 45px;
    filter: invert(15%) sepia(84%) saturate(4629%) hue-rotate(280deg) brightness(110%) contrast(132%);
}

.prototyping>div:nth-child(2) {
    padding-right: 40px;
    text-align: justify;
}

.prototyping>div>h3 {
    font-size: 18px;
    color: #d000ff;
}

.prototyping>div>p {
    color: #616368;
    font-family: Poppins;
    font-size: 15.2px;
    font-style: normal;
    font-weight: 400;
}

.performance>div:nth-child(1) {
    padding: 10px;
    border-radius: 100%;
    background-color: #ffdfdf;
}

.performance>div:nth-child(1)>img {
    width: 50px;
    height: 45px;
    filter: invert(13%) sepia(92%) saturate(5535%) hue-rotate(5deg) brightness(104%) contrast(122%);
}

.performance>div>h3 {
    font-size: 18px;
    color: #ff1900;
}

.performance>div>p {
    color: #616368;
    font-family: Poppins;
    font-size: 15.2px;
    font-style: normal;
    font-weight: 400;
}

.vectorediting>div:nth-child(1) {
    padding: 10px;
    border-radius: 100%;
    background-color: #dffff3;
}

.vectorediting>div:nth-child(1)>img {
    width: 50px;
    height: 45px;
    filter: invert(50%) sepia(22%) saturate(5715%) hue-rotate(134deg) brightness(109%) contrast(101%);
}

.vectorediting>div>h3 {
    font-size: 18px;
    color: #00cf9f;
}

.vectorediting>div>p {
    color: #616368;
    font-family: Poppins;
    font-size: 15.2px;
    font-style: normal;
    font-weight: 400;
}

.jackpot-section {
    /* width: 75%; */
    margin: auto;
    /* border: #e22626 solid 2px; */
}

.jackpot-headings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jackpot-section>* {
    padding: 3%;
}

.jackpot-headings>h1 {
    font-family: Poppins;
    width: 28%;
    padding: 5px 15% 5px 5%;
    margin: 0 5% 0 8%;
    border-right: 1px solid #adadad;
}

.jackpot-headings>p {
    width: 33%;
}

.jackpot-features {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.jackpot-features>* {
    width: 20%;
}

.design {
    display: flex;
    width: 80%;
    margin: auto;
}

.design>* {
    padding: 2%;
}

.design-info>* {
    margin-bottom: 20px;
}

.design button {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 50px;
    background: #0dc9c8;
    color: white;
    border: none;
}

.feature-header {
    width: 50%;
    margin: auto;
    /* border: 2px solid rgb(21, 255, 0); */
    text-align: center;
}

.feature-header>h1 {
    width: 60%;
    /* border: 2px solid rgb(17, 194, 164); */
    margin: auto;
    padding: 0;
}

.features-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* border: 2px solid blue; */
    margin: auto;
    width: 80%;
    padding: 30px 0;
}

.featurecard {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.featurecard>h5 {
    margin-top: 10px;

}

.featurecard img {
    /* border: 1px solid yellow; */
    margin: auto;
    display: inline-block;
}

.team-section {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.team-section>h1 {
    width: 60%;
    margin: auto;
    font-size: 23px;
    /* border: solid green 2px; */
    text-align: center;
}

.team-section>p {
    width: 70%;
    font-size: 14px;
    margin: auto;
    text-align: center;
}

.team-types {
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin: 30px 0;
    border-bottom: #0DC9C8 solid 2px;
}

.team-types>P {
    padding: 5px;
    color: #343661;
}

.team-types>p:hover {
    padding: 5px;
    background: #0DC9C8;
    color: white;
    cursor: pointer;
}

/* .....................members........... */
.members {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.member-card {
    display: flex;
    background-color: #f6ffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    width: 30%;
}

.member-card>div:nth-child(2) {
    width: 70%;
    margin: auto;
}

.member-card>div:nth-child(1) {
    width: 20%;
    margin: 0 auto;
}

.member-card img {
    width: 100%;
}

.member-card h3 {
    color: #555DDB;
}

.job-description {
    margin-top: 10px;
    color: #5E6282;
}

/* .................ultimate section.............. */
.ultimate-section {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.ul-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* ......................goal section................ */
.goals-section {
    background: rgba(85, 36, 129, 0.30);
    padding: 5% 10%;
}

.wrapper {
    border-radius: 15px;
    background-color: rgba(255, 254, 254, 0.6);
    padding: 4% 15%;

}

.wrap-header {
    display: flex;
}

.wrap-header>div:first-child {
    width: 40%;
    margin: auto;
}

.wrap-header>div:last-child {
    width: 45%;
}

.wrap-header h1 {
    margin-top: 3%;
}

/* ......................plan-section............... */
.plan-section {
    width: 60%;
    margin: auto;
}

.pl-top>* {
    text-align: center;
}

.pl-bottom {
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid gray; */
}

.pl-bottom>* {
    padding: 5% 0 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 45%;
}

.pl-bottom>*>* {
    text-align: center;
    padding: 10px 0;
}

.plan-features>p {
    margin: 5px 0;
}

.pl-bottom .price {
    font-size: 30px;
    font-weight: 800;
}

.pl-bottom button {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 50px;
    background: #0dc9c8;
    color: white;
    border: none;
}

/* ...........Testimonal section............. */
.testimonials-section {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    /* border: 2px solid black; */
}

.testimonials-section>* {
    width: 40%;
}

.testimonials-section img {
    width: 100%;
}

.test-content>* {
    margin: 20px 0;
}

.test-content>div {
    padding: 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin: 80px 0 0 20px;
}

.person {
    margin: 10px 0;
    position: relative;
}

.person>img {
    width: auto;
    position: absolute;
    top: -10px;
}

.left-arrow {
    left: -100px;
}

.right-arrow {
    right: -100px;
}

.testimonial {
    position: relative;

}

.testimonial>img {
    width: 50px;
    position: absolute;
    top: -30px;
    left: -20px;
}

.faq-section {
    width: 80%;
    margin: 100px auto;
}

.faq-section>.header {
    width: 70%;
    margin: auto;
    text-align: center;
}

.q_a-container {
    background-color: rgba(245, 247, 250, 1);
    margin: 10px;
    padding: 20px;
}

.q_a-container>.question {
    display: flex;
    justify-content: space-between;
}

.q_a-container>.answer {
    text-align: justify;
}

.app-download-section {
    width: 80%;
    margin: 20px auto;

}

.app-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-container>* {
    width: 45%;

}

.footer-section {
    background: #555DDB;
    padding: 300px 0px 0px 0px;
    margin-top: 500px;
    position: relative;
}

.footer-section>.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 40px auto;
}

.footer-section>.top>* {
    text-align: center;
}

.footer-section .logo-div>h4 {
    font-size: 13px;
}

.footer-section .logo-div>p {
    font-size: 8px;
}

.footer-section a {
    color: #FFF;
    text-decoration: none;
}

.footer-section>.bottom {
    text-align: center;
    border-top: solid 1px #ACACAC;
    padding: 50px 0px 20px 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.contact-section {
    position: absolute;
    top: -60%;
    left: 5%;
    width: 80%;
    margin: 20px auto;
    padding: 30px 60px;
    border: solid gray 2px;
    background: linear-gradient(295deg, #54CFEE 2.3%, #00B5B4 29.86%, #605DC6 101.35%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 14.322px;
}

.contact-section h1{
    color: #FFF;
    padding: 20px;
}
.contact-section img{
    width: 30%;
}
form {
    border-radius: 14.322px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 2.38694px 2.38694px 11.9347px 0px rgba(0, 0, 0, 0.05);
    padding: 30px;
}
form>*{
    margin: 20px 0;
    display: block;
}
form input {
    border-radius: 8.951px;
    border: 0.895px solid #E8ECEF;
    background: #FFF;
    padding: 10px 15px;
    outline: none;
}

.person-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

form>textarea {
    border-radius: 8.951px;
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}
form>textarea::placeholder{
    text-align: center;
    line-height: 100px
    
}

form>input[type=submit] {
    width: 90%;
    display: block;
    margin: auto;
    background-color: #555DDB;
    color: white;
    border: none;
}
form input:focus,textarea:focus{
    border: 2px solid rgb(0, 60, 255);
}